n8n/backup/workflows/Telegram Bot.json
{
  "name": "Telegram bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        960,
        584
      ],
      "id": "c64cee7c-0d38-4707-bc97-072ac9767860",
      "name": "Webhook",
      "webhookId": "2b86c161-6616-496f-9752-151e3cf28368"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image? Answer Russian.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2976,
        1040
      ],
      "id": "ba854177-5c94-4c1b-8a2e-78b3ced33248",
      "name": "Анализ изображения",
      "credentials": {
        "openAiApi": {
          "id": "bsZiJm5zDzmXguw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.voice.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        656
      ],
      "id": "9911fa78-4c58-473e-8199-2632427d9d46",
      "name": "Получить инфо о голосовом файле"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        656
      ],
      "id": "b01cc41b-d061-43c7-a0fd-989e2b4af1a9",
      "name": "Скачать голосовой файл"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.audio.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        848
      ],
      "id": "3e155e4e-ff8f-44f5-bc7e-3a5aa4d8863c",
      "name": "Получить инфо об аудиофайле"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        848
      ],
      "id": "bc1171ca-6974-4fb6-85ca-a95d589c0790",
      "name": "Скачать аудиофайл"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "c1aacee0-de5c-42a5-9c56-81fc92efb63d",
              "name": "temporary_message_id",
              "value": "={{ $('Секунду прослушаю голос').item.json.result.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        656
      ],
      "id": "886249c4-f0a8-4030-98a8-3f3cb6ba0446",
      "name": "текст голос"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "da39be34-d71a-446f-93e4-a02482d3f70f",
              "name": "More out-of-the-box ai automation solutions",
              "value": "https://t.me/PrideAIBot",
              "type": "string"
            },
            {
              "id": "4c503d97-b914-4652-bed6-0ff3da2954eb",
              "name": "temporary_message_id",
              "value": "={{ $('Секунду прослушаю аудио').item.json.result.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        848
      ],
      "id": "902945e6-a502-4720-b1eb-5e873dab25c3",
      "name": "текст аудио"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "cbace35d-49b5-4cdd-982a-5aa019e64727",
              "name": "temporary_message_id",
              "value": "={{ $('Секунду посмотрю фото').item.json.result.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        1040
      ],
      "id": "733623c7-68e1-4696-a627-b9c1d9bb0a0a",
      "name": "текст фото"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, прослушаю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        656
      ],
      "id": "fb018341-31a3-4645-9c53-a5b29de0ffd4",
      "name": "Секунду прослушаю голос"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, прослушаю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        848
      ],
      "id": "43ef5d03-9741-4b74-bf68-b54b7ad7e245",
      "name": "Секунду прослушаю аудио"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "text",
              "value": "Секунду, посмотрю.."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        1040
      ],
      "id": "17281851-44e5-4f36-bef5-0fc06c91f67b",
      "name": "Секунду посмотрю фото"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO webhooks (\n  update_id,\n  type,\n  raw_data,\n  processed\n) VALUES (\n  {{ $json.body.update_id || 'NULL' }},\n  '{{ $json.body.message ? \"message\" : ($json.body.callback_query ? \"callback_query\" : \"other\") }}',\n  '{{ JSON.stringify($json.body).replace(/'/g, \"''\") }}',\n  false\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        584
      ],
      "id": "5f53a724-977b-4b57-bf6a-d3e28217611d",
      "name": "Логирование Webhook",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8cfb58-6572-4380-b4f8-4c5e8ee2c75d",
              "name": "telegram_bot_api_key",
              "value": "API KEY ЗАМЕНИТЬ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        584
      ],
      "id": "b424a8a0-b4fd-4496-b9be-dcc36bb34715",
      "name": "API KEY ЗАМЕНИТЬ"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1356,
        544
      ],
      "id": "20905431-30eb-41b3-9a51-ce050f18b52a",
      "name": "Стикер 3"
    },
    {
      "parameters": {
        "content": "# Инструкция по Telegram боту Л.И.С.А.\n\nАвтор: [Nikita Shorin](https://www.youtube.com/@shorin_nikita)\n\n## Описание\nВоркфлоу создает умного Telegram бота Л.И.С.А. (Личный Интеллектуальный Системный Ассистент), который обрабатывает текст, голос, аудио и изображения с помощью OpenAI.\n\n## Быстрый старт:\n\n1. 🔴 **API ключ Telegram бота**:\n   - Создайте бота в [@BotFather](https://t.me/botfather)\n   - В узле \"API KEY ЗАМЕНИТЬ\" замените на ваш токен\n\n2. 🟢 **OpenAI credentials**:\n   - Создайте API-ключ на [platform.openai.com](https://platform.openai.com/api-keys)\n   - Настройте учетные данные в нодах OpenAI (GPT-4.1-nano, Whisper, GPT-4O)\n\n3. 🟡 **Webhook**:\n   - Укажите path в ноде Webhook (например: telegram)\n   - Настройте webhook через отдельный workflow **HTTP Handle** или вручную через Telegram API\n\n4. 🔵 **База данных PostgreSQL**:\n   - Запустите ноду \"Create All Remaining Telegram Pride Components\" один раз\n   - Это создаст все необходимые таблицы и триггеры автоматически\n\n5. 🟣 **AI Agent Л.И.С.А.**:\n   - Настройте System prompt в ноде \"Л.И.С.А.\" под ваши задачи\n   - По умолчанию использует GPT-4.1-nano для экономии\n\n## Функции:\n- ✅ Ответы на текст с памятью контекста (PostgreSQL Memory)\n- ✅ Транскрибация голосовых сообщений (OpenAI Whisper)\n- ✅ Транскрибация аудиофайлов\n- ✅ Анализ изображений (GPT-4O Vision)\n- ✅ Группировка быстрых сообщений (message buffer, 10 сек задержка)\n- ✅ Статус \"печатает...\" и временные уведомления\n- ✅ Аналитические команды: /stats, /today, /funnel, /users, /activity, /trending, /health\n- ✅ Автоматическое логирование всех событий в PostgreSQL\n- ✅ Автоматическое удаление временных сообщений\n\n## Архитектура:\n- **PostgreSQL** - основное хранилище (webhooks, users, chats, messages, chat_memory, buffer)\n- **Message Buffer** - группировка быстрых сообщений пользователя перед отправкой в AI\n- **Memory система** - индивидуальная история диалога для каждого chat_id\n- **Webhook триггер** - автоматическая обработка входящих сообщений\n- **Type detection** - определение типа сообщения (text/voice/audio/photo)\n- **Analytics** - встроенные SQL-запросы для статистики\n\nБот работает на русском языке. При обработке медиа показывает временные уведомления (\"Секунду, прослушаю...\" / \"Секунду, посмотрю...\"), которые автоматически удаляются после завершения.\n\nБольше AI автоматизации: [@PrideAIBot](https://t.me/PrideAIBot)",
        "height": 1296,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "210c11aa-1008-476d-9da2-f3243b65e13e",
      "name": "Стикер 4"
    },
    {
      "parameters": {
        "content": "",
        "height": 212,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2934,
        988
      ],
      "id": "1ed91b5b-54f6-4f75-be5b-db2d9bddbf98",
      "name": "Стикер 5"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        918,
        544
      ],
      "id": "8659e06f-3d57-4eb4-8410-51b8f7406477",
      "name": "Стикер"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "telegram_message_buffer",
          "mode": "list",
          "cachedResultName": "telegram_message_buffer"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3648,
        792
      ],
      "id": "28b1c674-e2a3-4e00-869b-f8034b29b132",
      "name": "Первый чек",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67ea58f5-deb4-4b8b-8d0e-9844654f5eaf",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3872,
        792
      ],
      "id": "3189aa7c-242a-4796-8429-6d0bfed10df0",
      "name": "Запись есть?"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text_content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4768,
        888
      ],
      "id": "ff0ecadd-c76e-4feb-9e81-0f34c06b81a6",
      "name": "Агрегация"
    },
    {
      "parameters": {
        "jsCode": "// Получаем сгруппированный текст из Агрегация\nconst array = $json.text_content || [];\nconst joinedString = array.join(',');\n\n// Получаем chat_id из Webhook\nconst chat_id = $('Webhook').item.json.body.message.from.id;\n\n// Получаем temporary_message_id из Объединение\nconst mergeData = $('Объединение').item.json;\nconst temporary_message_id = mergeData.temporary_message_id || null;\n\n// More out-of-the-box AI automation solutions: https://t.me/PrideAIBot\nreturn [{\n  json: { \n    joinedString: joinedString,\n    chat_id: chat_id,\n    temporary_message_id: temporary_message_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        888
      ],
      "id": "56858720-9294-4302-8207-cf3f042268e7",
      "name": "Код"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ================================================================\n-- СОЗДАНИЕ TELEGRAM BOT DATABASE\n-- ================================================================\n\n-- ===============================\n-- СОЗДАНИЕ ОСНОВНЫХ ТАБЛИЦ\n-- ===============================\n\n-- Таблица webhooks\nCREATE SEQUENCE webhooks_id_seq AS integer START WITH 1 INCREMENT BY 1;\nCREATE TABLE webhooks (\n    id integer NOT NULL DEFAULT nextval('webhooks_id_seq'::regclass),\n    update_id bigint,\n    type character varying,\n    raw_data jsonb,\n    processed boolean DEFAULT false,\n    created_at timestamp with time zone DEFAULT now()\n);\nALTER SEQUENCE webhooks_id_seq OWNED BY webhooks.id;\n\n-- Таблица telegram_message_buffer\nCREATE SEQUENCE telegram_message_buffer_id_seq AS integer START WITH 1 INCREMENT BY 1;\nCREATE TABLE telegram_message_buffer (\n    id integer NOT NULL DEFAULT nextval('telegram_message_buffer_id_seq'::regclass),\n    chat_id bigint NOT NULL,\n    message_id bigint,\n    text_content text,\n    message_type character varying,\n    created_at timestamp with time zone DEFAULT now()\n);\nALTER SEQUENCE telegram_message_buffer_id_seq OWNED BY telegram_message_buffer.id;\n\n-- Таблица users\nCREATE TABLE users (\n    id bigint NOT NULL,\n    first_name character varying,\n    last_name character varying,\n    username character varying,\n    created_at timestamp with time zone DEFAULT now(),\n    updated_at timestamp with time zone DEFAULT now(),\n    language_code character varying,\n    is_bot boolean DEFAULT false,\n    is_premium boolean DEFAULT false\n);\n\n-- Таблица chats\nCREATE TABLE chats (\n    id bigint NOT NULL,\n    title character varying,\n    type character varying,\n    created_at timestamp with time zone DEFAULT now(),\n    updated_at timestamp with time zone DEFAULT now(),\n    username character varying,\n    first_name character varying,\n    last_name character varying,\n    is_forum boolean DEFAULT false\n);\n\n-- Таблица messages\nCREATE TABLE messages (\n    message_id bigint NOT NULL,\n    chat_id bigint NOT NULL,\n    user_id bigint,\n    date timestamp with time zone,\n    text text,\n    audio_file_id character varying,\n    photo_file_id character varying,\n    voice_file_id character varying,\n    document_file_id character varying,\n    video_note_file_id character varying,\n    reply_to_message_id bigint,\n    forward_from_user_id bigint,\n    forward_from_chat_id bigint,\n    forward_date timestamp with time zone,\n    entities jsonb,\n    caption text,\n    location jsonb,\n    raw_json jsonb,\n    created_at timestamp with time zone DEFAULT now()\n);\n\n-- Таблица chat_memory\nCREATE TABLE chat_memory (\n    session_id text NOT NULL,\n    message_index integer NOT NULL,\n    content text NOT NULL,\n    type text NOT NULL,\n    created_at timestamp with time zone DEFAULT now()\n);\n\n-- Таблица polls\nCREATE TABLE polls (\n    id character varying NOT NULL,\n    question text,\n    options jsonb,\n    total_voter_count integer DEFAULT 0,\n    is_closed boolean DEFAULT false,\n    is_anonymous boolean DEFAULT true,\n    allows_multiple_answers boolean DEFAULT false,\n    type character varying DEFAULT 'regular'::character varying,\n    created_at timestamp with time zone DEFAULT now()\n);\n\n-- Таблица poll_answers\nCREATE TABLE poll_answers (\n    poll_id character varying NOT NULL,\n    user_id bigint NOT NULL,\n    option_ids integer[],\n    created_at timestamp with time zone DEFAULT now()\n);\n\n-- ===============================\n-- PRIMARY KEYS\n-- ===============================\n\nALTER TABLE ONLY webhooks ADD CONSTRAINT webhooks_pkey PRIMARY KEY (id);\nALTER TABLE ONLY telegram_message_buffer ADD CONSTRAINT telegram_message_buffer_pkey PRIMARY KEY (id);\nALTER TABLE ONLY users ADD CONSTRAINT users_pkey PRIMARY KEY (id);\nALTER TABLE ONLY chats ADD CONSTRAINT chats_pkey PRIMARY KEY (id);\nALTER TABLE ONLY messages ADD CONSTRAINT messages_pkey PRIMARY KEY (message_id, chat_id);\nALTER TABLE ONLY chat_memory ADD CONSTRAINT chat_memory_pkey PRIMARY KEY (session_id, message_index);\nALTER TABLE ONLY polls ADD CONSTRAINT polls_pkey PRIMARY KEY (id);\nALTER TABLE ONLY poll_answers ADD CONSTRAINT poll_answers_pkey PRIMARY KEY (poll_id, user_id);\n\n-- ===============================\n-- FOREIGN KEYS\n-- ===============================\n\nALTER TABLE ONLY messages ADD CONSTRAINT messages_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES chats(id);\nALTER TABLE ONLY messages ADD CONSTRAINT messages_user_id_fkey FOREIGN KEY (user_id) REFERENCES users(id);\nALTER TABLE ONLY poll_answers ADD CONSTRAINT poll_answers_poll_id_fkey FOREIGN KEY (poll_id) REFERENCES polls(id);\nALTER TABLE ONLY poll_answers ADD CONSTRAINT poll_answers_user_id_fkey FOREIGN KEY (user_id) REFERENCES users(id);\n\n-- ===============================\n-- СОЗДАНИЕ ИНДЕКСОВ\n-- ===============================\n\n-- Индексы для webhooks\nCREATE INDEX idx_webhooks_processed ON webhooks USING btree (processed);\nCREATE INDEX idx_webhooks_created_at ON webhooks USING btree (created_at);\n\n-- Индексы для telegram_message_buffer\nCREATE INDEX idx_telegram_buffer_chat_id ON telegram_message_buffer USING btree (chat_id);\nCREATE INDEX idx_telegram_buffer_created_at ON telegram_message_buffer USING btree (created_at);\n\n-- Индексы для users\nCREATE INDEX idx_users_username ON users USING btree (username);\nCREATE INDEX idx_users_language_code ON users USING btree (language_code);\n\n-- Индексы для chats\nCREATE INDEX idx_chats_type ON chats USING btree (type);\n\n-- Индексы для messages\nCREATE INDEX idx_messages_chat_id ON messages USING btree (chat_id);\nCREATE INDEX idx_messages_user_id ON messages USING btree (user_id);\nCREATE INDEX idx_messages_date ON messages USING btree (date);\nCREATE INDEX idx_messages_text ON messages USING gin (to_tsvector('russian'::regconfig, text));\n\n-- Индексы для chat_memory\nCREATE INDEX idx_chat_memory_session ON chat_memory USING btree (session_id);\n\n-- ===============================\n-- СОЗДАНИЕ ФУНКЦИЙ\n-- ===============================\n\n-- Функция обработки Telegram webhook'ов\nCREATE OR REPLACE FUNCTION process_telegram_webhook()\nRETURNS trigger\nLANGUAGE plpgsql\nAS $function$\nDECLARE\n    webhook_data JSONB;\n    message_data JSONB;\n    user_data JSONB;\n    chat_data JSONB;\n    poll_data JSONB;\nBEGIN\n    webhook_data := NEW.raw_data;\n    \n    IF webhook_data ? 'message' THEN\n        message_data := webhook_data->'message';\n        user_data := message_data->'from';\n        chat_data := message_data->'chat';\n        \n        -- UPSERT пользователя\n        IF user_data IS NOT NULL THEN\n            INSERT INTO users (\n                id, first_name, last_name, username, \n                language_code, is_bot, is_premium, updated_at\n            ) VALUES (\n                (user_data->>'id')::BIGINT,\n                user_data->>'first_name',\n                user_data->>'last_name',\n                user_data->>'username',\n                user_data->>'language_code',\n                COALESCE((user_data->>'is_bot')::BOOLEAN, false),\n                COALESCE((user_data->>'is_premium')::BOOLEAN, false),\n                NOW()\n            ) ON CONFLICT (id) \n            DO UPDATE SET \n                first_name = EXCLUDED.first_name,\n                last_name = EXCLUDED.last_name,\n                username = EXCLUDED.username,\n                language_code = EXCLUDED.language_code,\n                is_bot = EXCLUDED.is_bot,\n                is_premium = EXCLUDED.is_premium,\n                updated_at = NOW();\n        END IF;\n        \n        -- UPSERT чата\n        IF chat_data IS NOT NULL THEN\n            INSERT INTO chats (\n                id, title, type, username, first_name, \n                last_name, is_forum, updated_at\n            ) VALUES (\n                (chat_data->>'id')::BIGINT,\n                chat_data->>'title',\n                chat_data->>'type',\n                chat_data->>'username',\n                chat_data->>'first_name',\n                chat_data->>'last_name',\n                COALESCE((chat_data->>'is_forum')::BOOLEAN, false),\n                NOW()\n            ) ON CONFLICT (id) \n            DO UPDATE SET \n                title = EXCLUDED.title,\n                type = EXCLUDED.type,\n                username = EXCLUDED.username,\n                first_name = EXCLUDED.first_name,\n                last_name = EXCLUDED.last_name,\n                is_forum = EXCLUDED.is_forum,\n                updated_at = NOW();\n        END IF;\n        \n        -- INSERT сообщения\n        INSERT INTO messages (\n            message_id, chat_id, user_id, date, text,\n            audio_file_id, photo_file_id, voice_file_id,\n            document_file_id, video_note_file_id,\n            reply_to_message_id, forward_from_user_id,\n            forward_from_chat_id, forward_date,\n            entities, caption, location, raw_json\n        ) VALUES (\n            (message_data->>'message_id')::BIGINT,\n            (chat_data->>'id')::BIGINT,\n            (user_data->>'id')::BIGINT,\n            TO_TIMESTAMP((message_data->>'date')::INTEGER),\n            message_data->>'text',\n            message_data->'audio'->>'file_id',\n            CASE \n                WHEN message_data ? 'photo' THEN \n                    (message_data->'photo'->-1->>'file_id')\n                ELSE NULL \n            END,\n            message_data->'voice'->>'file_id',\n            message_data->'document'->>'file_id',\n            message_data->'video_note'->>'file_id',\n            (message_data->'reply_to_message'->>'message_id')::BIGINT,\n            (message_data->'forward_from'->>'id')::BIGINT,\n            (message_data->'forward_from_chat'->>'id')::BIGINT,\n            CASE \n                WHEN message_data ? 'forward_date' THEN \n                    TO_TIMESTAMP((message_data->>'forward_date')::INTEGER)\n                ELSE NULL \n            END,\n            message_data->'entities',\n            message_data->>'caption',\n            message_data->'location',\n            message_data\n        ) ON CONFLICT (message_id, chat_id) DO NOTHING;\n        \n        -- Обработка опроса\n        IF message_data ? 'poll' THEN\n            poll_data := message_data->'poll';\n            INSERT INTO polls (\n                id, question, options, total_voter_count,\n                is_closed, is_anonymous, allows_multiple_answers, type\n            ) VALUES (\n                poll_data->>'id',\n                poll_data->>'question',\n                poll_data->'options',\n                COALESCE((poll_data->>'total_voter_count')::INTEGER, 0),\n                COALESCE((poll_data->>'is_closed')::BOOLEAN, false),\n                COALESCE((poll_data->>'is_anonymous')::BOOLEAN, true),\n                COALESCE((poll_data->>'allows_multiple_answers')::BOOLEAN, false),\n                COALESCE(poll_data->>'type', 'regular')\n            ) ON CONFLICT (id) DO NOTHING;\n        END IF;\n        \n    END IF;\n    \n    NEW.processed := true;\n    RETURN NEW;\nEND;\n$function$;\n\n-- Функция пакетной обработки\nCREATE OR REPLACE FUNCTION process_existing_webhooks()\nRETURNS integer\nLANGUAGE plpgsql\nAS $function$\nDECLARE\n    processed_count INTEGER := 0;\nBEGIN\n    UPDATE webhooks SET processed = true \n    WHERE processed = false OR processed IS NULL;\n    \n    GET DIAGNOSTICS processed_count = ROW_COUNT;\n    RETURN processed_count;\nEND;\n$function$;\n\n-- Функция статистики сообщений\nCREATE OR REPLACE FUNCTION get_message_stats()\nRETURNS TABLE(message_type text, message_count bigint)\nLANGUAGE plpgsql\nAS $function$\nBEGIN\n    RETURN QUERY\n    SELECT \n        CASE \n            WHEN text IS NOT NULL THEN 'text'\n            WHEN photo_file_id IS NOT NULL THEN 'photo'\n            WHEN voice_file_id IS NOT NULL THEN 'voice'\n            WHEN audio_file_id IS NOT NULL THEN 'audio'\n            WHEN document_file_id IS NOT NULL THEN 'document'\n            WHEN video_note_file_id IS NOT NULL THEN 'video_note'\n            WHEN location IS NOT NULL THEN 'location'\n            ELSE 'other'\n        END as message_type,\n        COUNT(*) as message_count\n    FROM messages\n    GROUP BY message_type\n    ORDER BY message_count DESC;\nEND;\n$function$;\n\n-- Функция активности пользователей\nCREATE OR REPLACE FUNCTION get_user_activity()\nRETURNS TABLE(id bigint, username character varying, first_name character varying, msg_count bigint, last_msg timestamp with time zone)\nLANGUAGE plpgsql\nAS $function$\nBEGIN\n    RETURN QUERY\n    SELECT \n        u.id,\n        u.username,\n        u.first_name,\n        COUNT(m.message_id) as msg_count,\n        MAX(m.date) as last_msg\n    FROM users u\n    LEFT JOIN messages m ON u.id = m.user_id\n    GROUP BY u.id, u.username, u.first_name\n    ORDER BY msg_count DESC;\nEND;\n$function$;\n\n-- ===============================\n-- СОЗДАНИЕ ТРИГГЕРОВ\n-- More out-of-the-box AI Automation solutions https://t.me/PrideAIBot\n-- ===============================\n\nCREATE TRIGGER webhook_auto_process \n    BEFORE INSERT ON webhooks \n    FOR EACH ROW \n    EXECUTE FUNCTION process_telegram_webhook();\n\n-- ===============================\n-- ВКЛЮЧЕНИЕ RLS И ПОЛИТИКИ\n-- ===============================\n\n-- Включение RLS\nALTER TABLE webhooks ENABLE ROW LEVEL SECURITY;\nALTER TABLE telegram_message_buffer ENABLE ROW LEVEL SECURITY;\nALTER TABLE users ENABLE ROW LEVEL SECURITY;\nALTER TABLE chats ENABLE ROW LEVEL SECURITY;\nALTER TABLE messages ENABLE ROW LEVEL SECURITY;\nALTER TABLE chat_memory ENABLE ROW LEVEL SECURITY;\nALTER TABLE polls ENABLE ROW LEVEL SECURITY;\nALTER TABLE poll_answers ENABLE ROW LEVEL SECURITY;\n\n-- Политики для всех таблиц\nCREATE POLICY \"Allow anonymous access to webhooks\" ON webhooks FOR ALL TO public USING (true);\nCREATE POLICY \"Allow service access to webhooks\" ON webhooks FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow service access to telegram_message_buffer\" ON telegram_message_buffer FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow service access to users\" ON users FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow service access to chats\" ON chats FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow service access to messages\" ON messages FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow anonymous access to chat_memory\" ON chat_memory FOR ALL TO public USING (true);\nCREATE POLICY \"Allow service access to polls\" ON polls FOR ALL TO anon, authenticated USING (true);\nCREATE POLICY \"Allow service access to poll_answers\" ON poll_answers FOR ALL TO anon, authenticated USING (true);\n\n-- ===============================\n-- ЗАВЕРШЕНИЕ\n-- ===============================\n\nANALYZE;\nSELECT 'Telegram Bot DB Schema completed! Database ready to use.' as status;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1152,
        272
      ],
      "id": "ee9a1150-47a9-4b0e-9f7a-81c4c326275c",
      "name": "Создать все компоненты Telegram Pride",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5413,
        1152
      ],
      "id": "6d69074b-245c-4618-b6e6-ccd82a706dd7",
      "name": "Стикер 6"
    },
    {
      "parameters": {
        "content": "",
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5531,
        1152
      ],
      "id": "08aafd08-23a0-4a05-8caa-36f30eb29537",
      "name": "Стикер 1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Код').item.json.chat_id }}"
      },
      "id": "e70db415-d9d4-42fe-b111-20301dc7b1b9",
      "name": "Память Postgres",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        5576,
        1168
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4507,
        868
      ],
      "id": "f9adfa71-6eec-45c5-9a09-c64d5668b4dc",
      "name": "Стикер 9"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4059,
        868
      ],
      "id": "18e245cd-814c-45b6-a027-ee1829871557",
      "name": "Стикер 10"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4059,
        676
      ],
      "id": "abd64e16-ab31-4a55-93d1-c41b24bd1127",
      "name": "Стикер 11"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3611,
        772
      ],
      "id": "eca4185c-050e-447f-8272-5b142bf2e2b5",
      "name": "Стикер 12"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1147,
        544
      ],
      "id": "ea0b1df0-1c88-4729-b17d-abf457e8cba5",
      "name": "Стикер 13"
    },
    {
      "parameters": {
        "content": "",
        "height": 280,
        "width": 524,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        192
      ],
      "id": "e1ef7301-9efd-46ab-a1e8-3df44a3a33bb",
      "name": "Стикер 14"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "telegram_message_buffer",
          "mode": "list",
          "cachedResultName": "telegram_message_buffer"
        },
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4544,
        888
      ],
      "id": "b60cf101-5851-48e1-b131-df648a5c2359",
      "name": "Сбор сообщений",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4320,
        888
      ],
      "id": "0be93afb-e8df-4fdc-9749-397d45fcf1e4",
      "name": "Ожидание",
      "webhookId": "a7a4e5d2-3b39-437a-a68d-86d90f103cdc"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "74e14772-fc81-456d-acc9-179d2e232fad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d07ef59-070c-4e57-ae1c-5e61c140889a",
                    "leftValue": "={{ $('Webhook').item.json.body.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fbee3dc-de53-4ee7-b88e-3415d89f8bb1",
                    "leftValue": "={{ $('Webhook').item.json.body.message.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78190833-73ff-4c43-af7a-35f9de9c7b5b",
                    "leftValue": "={{ $('Webhook').item.json.body.message.photo[3] }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1856,
        720
      ],
      "id": "16e77652-5ce3-41e2-b776-1ac2e4b0e7b6",
      "name": "Тип сообщения?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "388b05e2-0bb4-44e6-ba9b-ddeb1e8ba832"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29462c85-3fb4-46ad-ad53-46e493499aa6",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/today",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "today"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "funnel-command-id",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/funnel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "funnel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "users-command-id",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/users",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "users"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "activity-command-id",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/activity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "activity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "trending-command-id",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/trending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "health-command-id",
                    "leftValue": "={{ $('Webhook').item.json.body.message.text }}",
                    "rightValue": "/health",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "health"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1632,
        488
      ],
      "id": "13b0d096-cfc1-4df8-a129-848086929ecd",
      "name": "Команда?"
    },
    {
      "parameters": {
        "jsCode": "// 📊 TELEGRAM PRIDE ANALYTICS DATA PROCESSOR\n// Подготавливает данные для SQL запросов и форматирования ответов\n\n// Получаем команду напрямую из webhook'а - самый надежный способ\nconst messageText = $('Webhook').item.json.body.message.text || '';\nlet commandType = 'unknown';\n\n// Определяем тип команды из текста сообщения\nif (messageText === '/stats') {\n  commandType = 'stats';\n} else if (messageText === '/today') {\n  commandType = 'today';\n} else if (messageText === '/funnel') {\n  commandType = 'funnel';\n} else if (messageText === '/users') {\n  commandType = 'users';\n} else if (messageText === '/activity') {\n  commandType = 'activity';\n} else if (messageText === '/trending') {\n  commandType = 'trending';\n} else if (messageText === '/health') {\n  commandType = 'health';\n}\n\nconst chatId = $('Webhook').item.json.body.message.from.id;\nconst messageId = $('Webhook').item.json.body.message.message_id;\nconst userName = $('Webhook').item.json.body.message.from.first_name || 'Аноним';\n\n// Объект с SQL запросами для каждой команды\nconst sqlQueries = {\n  // 📈 Общая статистика системы\n  stats: `\n    SELECT \n      'Всего пользователей' as metric, COUNT(DISTINCT u.id) as value, '👥' as emoji\n    FROM users u\n    UNION ALL\n    SELECT \n      'Всего сообщений', COUNT(*), '💬'\n    FROM messages\n    UNION ALL\n    SELECT \n      'Webhook событий', COUNT(*), '🔄'\n    FROM webhooks\n    UNION ALL\n    SELECT \n      'Сегодня сообщений', COUNT(*), '⚡'\n    FROM messages \n    WHERE date >= CURRENT_DATE\n    UNION ALL\n    SELECT \n      'Вчера сообщений', COUNT(*), '📅'\n    FROM messages \n    WHERE date >= CURRENT_DATE - INTERVAL '1 day' AND date < CURRENT_DATE\n    ORDER BY metric;\n  `,\n  \n  // 🔥 Активность сегодня vs вчера\n  today: `\n    WITH daily_stats AS (\n      SELECT \n        DATE(date) as day,\n        COUNT(*) as message_count,\n        COUNT(DISTINCT user_id) as active_users,\n        COUNT(CASE WHEN text IS NOT NULL THEN 1 END) as text_msgs,\n        COUNT(CASE WHEN photo_file_id IS NOT NULL THEN 1 END) as photo_msgs,\n        COUNT(CASE WHEN voice_file_id IS NOT NULL THEN 1 END) as voice_msgs\n      FROM messages\n      WHERE date >= CURRENT_DATE - INTERVAL '2 days'\n      GROUP BY DATE(date)\n    )\n    SELECT \n      CASE \n        WHEN day = CURRENT_DATE THEN 'Сегодня'\n        WHEN day = CURRENT_DATE - 1 THEN 'Вчера'\n        ELSE 'Другие дни'\n      END as period,\n      message_count,\n      active_users,\n      text_msgs,\n      photo_msgs, \n      voice_msgs,\n      CASE \n        WHEN LAG(message_count) OVER (ORDER BY day) IS NOT NULL THEN\n          ROUND(\n            ((message_count - LAG(message_count) OVER (ORDER BY day)) * 100.0 / \n             NULLIF(LAG(message_count) OVER (ORDER BY day), 0)), 1\n          )\n        ELSE NULL\n      END as change_percent\n    FROM daily_stats\n    ORDER BY day DESC;\n  `,\n  \n  // 📊 Конверсионная воронка пользователей\n  funnel: `\n    WITH user_funnel AS (\n      SELECT \n        'Зарегистрировались' as stage, \n        COUNT(DISTINCT u.id) as users,\n        100.0 as conversion_rate,\n        1 as stage_order\n      FROM users u\n      UNION ALL\n      SELECT \n        'Отправили сообщение',\n        COUNT(DISTINCT m.user_id),\n        ROUND(COUNT(DISTINCT m.user_id) * 100.0 / (SELECT COUNT(*) FROM users), 1),\n        2\n      FROM messages m\n      UNION ALL  \n      SELECT \n        'Активные (2+ сообщений)',\n        COUNT(DISTINCT user_id),\n        ROUND(COUNT(DISTINCT user_id) * 100.0 / (SELECT COUNT(*) FROM users), 1),\n        3\n      FROM (\n        SELECT user_id, COUNT(*) as msg_count\n        FROM messages \n        GROUP BY user_id \n        HAVING COUNT(*) >= 2\n      ) active_users\n      UNION ALL\n      SELECT \n        'Супер активные (10+ сообщений)',\n        COUNT(DISTINCT user_id),\n        ROUND(COUNT(DISTINCT user_id) * 100.0 / (SELECT COUNT(*) FROM users), 1),\n        4\n      FROM (\n        SELECT user_id, COUNT(*) as msg_count\n        FROM messages \n        GROUP BY user_id \n        HAVING COUNT(*) >= 10\n      ) super_active\n    )\n    SELECT stage, users, conversion_rate\n    FROM user_funnel\n    ORDER BY stage_order;\n  `,\n  \n  // 👥 Топ активных пользователей\n  users: `\n    SELECT \n      u.first_name || COALESCE(' ' || u.last_name, '') as full_name,\n      COALESCE('@' || u.username, 'Нет username') as username,\n      COUNT(m.message_id) as message_count,\n      COUNT(CASE WHEN m.text IS NOT NULL THEN 1 END) as text_count,\n      COUNT(CASE WHEN m.photo_file_id IS NOT NULL THEN 1 END) as photo_count,\n      COUNT(CASE WHEN m.voice_file_id IS NOT NULL THEN 1 END) as voice_count,\n      MAX(m.date) as last_activity,\n      CASE \n        WHEN MAX(m.date) >= NOW() - INTERVAL '1 hour' THEN '🟢 Сейчас онлайн'\n        WHEN MAX(m.date) >= NOW() - INTERVAL '24 hours' THEN '🟡 Был сегодня'\n        WHEN MAX(m.date) >= NOW() - INTERVAL '7 days' THEN '🟠 Был на неделе'\n        ELSE '🔴 Давно не был'\n      END as status\n    FROM users u\n    LEFT JOIN messages m ON u.id = m.user_id\n    GROUP BY u.id, u.first_name, u.last_name, u.username\n    ORDER BY message_count DESC\n    LIMIT 10;\n  `,\n  \n  // 📈 Активность по часам и дням\n  activity: `\n    WITH hourly_activity AS (\n      SELECT \n        EXTRACT(HOUR FROM date) as hour,\n        EXTRACT(DOW FROM date) as day_of_week,\n        COUNT(*) as message_count\n      FROM messages\n      WHERE date >= NOW() - INTERVAL '7 days'\n      GROUP BY EXTRACT(HOUR FROM date), EXTRACT(DOW FROM date)\n    ),\n    peak_hours AS (\n      SELECT \n        hour,\n        SUM(message_count) as total_messages\n      FROM hourly_activity\n      GROUP BY hour\n      ORDER BY total_messages DESC\n      LIMIT 5\n    )\n    SELECT \n      CASE \n        WHEN hour < 6 THEN '🌙 Ночь (' || hour || ':00)'\n        WHEN hour < 12 THEN '🌅 Утро (' || hour || ':00)' \n        WHEN hour < 18 THEN '☀️ День (' || hour || ':00)'\n        ELSE '🌆 Вечер (' || hour || ':00)'\n      END as time_period,\n      total_messages as messages,\n      ROUND(total_messages * 100.0 / SUM(total_messages) OVER(), 1) as percentage\n    FROM peak_hours\n    ORDER BY total_messages DESC;\n  `,\n  \n  // 📊 Трендинг: типы сообщений и их динамика\n  trending: `\n    WITH message_trends AS (\n      SELECT \n        CASE \n          WHEN text IS NOT NULL THEN '📝 Текст'\n          WHEN photo_file_id IS NOT NULL THEN '📸 Фото'\n          WHEN voice_file_id IS NOT NULL THEN '🎤 Голос'\n          WHEN audio_file_id IS NOT NULL THEN '🎵 Аудио'\n          WHEN document_file_id IS NOT NULL THEN '📄 Документ'\n          WHEN video_note_file_id IS NOT NULL THEN '🎥 Видео'\n          ELSE '❓ Другое'\n        END as message_type,\n        COUNT(*) as total_count,\n        COUNT(CASE WHEN date >= NOW() - INTERVAL '24 hours' THEN 1 END) as today_count,\n        COUNT(CASE WHEN date >= NOW() - INTERVAL '7 days' THEN 1 END) as week_count\n      FROM messages\n      GROUP BY message_type\n    )\n    SELECT \n      message_type,\n      total_count,\n      today_count,\n      week_count,\n      ROUND(total_count * 100.0 / SUM(total_count) OVER(), 1) as percentage,\n      CASE \n        WHEN today_count > 0 THEN '🔥 Популярно'\n        WHEN week_count > total_count * 0.7 THEN '📈 Растет'\n        ELSE '📊 Стабильно'\n      END as trend\n    FROM message_trends\n    ORDER BY total_count DESC;\n  `,\n  \n  // 💚 Здоровье системы\n  health: `\n    WITH system_health AS (\n      SELECT \n        'Webhook обработка' as component,\n        CASE \n          WHEN COUNT(CASE WHEN processed = false THEN 1 END) = 0 THEN '✅ ОК'\n          WHEN COUNT(CASE WHEN processed = false THEN 1 END) < 5 THEN '⚠️ Предупреждение'\n          ELSE '❌ Проблема'\n        END as status,\n        COUNT(*) as total_events,\n        COUNT(CASE WHEN processed = true THEN 1 END) as processed_events,\n        ROUND(COUNT(CASE WHEN processed = true THEN 1 END) * 100.0 / COUNT(*), 1) as success_rate\n      FROM webhooks\n      WHERE created_at >= NOW() - INTERVAL '24 hours'\n      UNION ALL\n      SELECT \n        'Активность пользователей',\n        CASE \n          WHEN COUNT(DISTINCT m.user_id) >= 2 THEN '✅ ОК'\n          WHEN COUNT(DISTINCT m.user_id) = 1 THEN '⚠️ Низкая активность'\n          ELSE '❌ Нет активности'\n        END,\n        COUNT(*),\n        COUNT(DISTINCT m.user_id),\n        ROUND(COUNT(DISTINCT m.user_id) * 100.0 / (SELECT COUNT(*) FROM users), 1)\n      FROM messages m\n      WHERE m.date >= NOW() - INTERVAL '24 hours'\n      UNION ALL\n      SELECT \n        'Буфер сообщений',\n        '✅ ОК', -- Всегда ОК, так как буфер очищается\n        0,\n        0,\n        100.0\n    )\n    SELECT component, status, total_events, processed_events, success_rate || '%' as success_percentage\n    FROM system_health;\n  `\n};\n\n// Определяем тип команды и возвращаем соответствующие данные\nlet result;\n\nif (commandType !== 'unknown' && sqlQueries[commandType]) {\n  result = {\n    command_type: commandType,\n    sql_query: sqlQueries[commandType].trim(),\n    chat_id: chatId,\n    message_id: messageId,\n    user_name: userName,\n    response_formatter: commandType\n  };\n} else {\n  // Если команда не распознана\n  result = {\n    command_type: 'unknown',\n    sql_query: '',\n    chat_id: chatId,\n    message_id: messageId,\n    user_name: userName,\n    response_text: `❓ Неизвестная команда \"${messageText}\". Доступные: /stats, /today, /funnel, /users, /activity, /trending, /health`\n  };\n}\n\n// More out-of-the-box AI automation solutions: https://t.me/PrideAIBot\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        320
      ],
      "id": "f0a4b087-780c-48ef-8e27-bc246398697a",
      "name": "📊 Analytics Data Processor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        320
      ],
      "id": "8a11b1f2-6c6b-4eb0-8467-e78ffbdd883f",
      "name": "🔍 Execute Analytics Query",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 📨 ФОРМАТИРОВАНИЕ И ОТПРАВКА АНАЛИТИЧЕСКИХ ОТВЕТОВ\n\n// Получаем данные из предыдущих нод\nconst processorData = $('📊 Analytics Data Processor').item.json;\nconst sqlResults = $('🔍 Execute Analytics Query').all();\nconst chatId = processorData.chat_id;\nconst commandType = processorData.command_type;\nconst userName = processorData.user_name;\n\n// Функция для безопасного экранирования HTML\nfunction escapeHtml(text) {\n  if (typeof text !== 'string') return text;\n  return text\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\n// Если SQL запрос не выполнился или нет данных\nif (!sqlResults || sqlResults.length === 0 || sqlResults[0].json.error) {\n  const errorText = sqlResults?.[0]?.json?.error?.message || 'Ошибка выполнения запроса';\n  return [{\n    json: {\n      response_text: `❌ <b>ОШИБКА АНАЛИТИКИ</b>\\n\\nПривет, ${escapeHtml(userName)}!\\n\\n🔧 Произошла ошибка при выполнении запроса:\\n<code>${escapeHtml(errorText)}</code>\\n\\n🛠️ Обратитесь к администратору или попробуйте позже.`,\n      chat_id: chatId,\n      parse_mode: 'HTML'\n    }\n  }];\n}\n\n// Обработка неизвестных команд\nif (commandType === 'unknown') {\n  return [{\n    json: {\n      response_text: processorData.response_text,\n      chat_id: chatId,\n      parse_mode: 'HTML'\n    }\n  }];\n}\n\n// Извлекаем данные из SQL результатов\nconst data = sqlResults.map(item => item.json);\n\n// Функции форматирования для каждого типа команды (HTML format)\nconst formatters = {\n  stats: (data) => {\n    let response = '📊 <b>СТАТИСТИКА TELEGRAM PRIDE</b>\\n\\n';\n    response += `👋 Привет, ${escapeHtml(userName)}!\\n\\n`;\n    \n    data.forEach(row => {\n      const value = typeof row.value === 'number' ? row.value.toLocaleString('ru-RU') : row.value;\n      response += `${row.emoji} ${escapeHtml(row.metric)}: <b>${escapeHtml(value)}</b>\\n`;\n    });\n    \n    response += '\\n🚀 <i>Доступные команды:</i>\\n';\n    response += '• /today - активность сегодня\\n';\n    response += '• /funnel - воронка пользователей\\n';\n    response += '• /users - топ активных\\n';\n    response += '• /activity - пиковые часы\\n';\n    response += '• /trending - трендинг сообщений\\n';\n    response += '• /health - здоровье системы';\n    \n    return response;\n  },\n  \n  today: (data) => {\n    let response = '⚡ <b>АКТИВНОСТЬ СЕГОДНЯ VS ВЧЕРА</b>\\n\\n';\n    response += `👋 ${escapeHtml(userName)}, вот сравнение активности:\\n\\n`;\n    \n    data.forEach(row => {\n      const changeIcon = row.change_percent > 0 ? '📈' : row.change_percent < 0 ? '📉' : '➡️';\n      const changeText = row.change_percent !== null ? \n        `${changeIcon} ${row.change_percent > 0 ? '+' : ''}${row.change_percent}%` : '🆕 Новые данные';\n      \n      response += `<b>${escapeHtml(row.period)}:</b>\\n`;\n      response += `💬 Сообщений: ${row.message_count} ${changeText}\\n`;\n      response += `👥 Активных: ${row.active_users}\\n`;\n      response += `📝 Текст: ${row.text_msgs} | 📸 Фото: ${row.photo_msgs} | 🎤 Голос: ${row.voice_msgs}\\n\\n`;\n    });\n    \n    response += '📈 <i>Динамика активности помогает понять рост аудитории</i>';\n    return response;\n  },\n  \n  funnel: (data) => {\n    let response = '🔥 <b>КОНВЕРСИОННАЯ ВОРОНКА ПОЛЬЗОВАТЕЛЕЙ</b>\\n\\n';\n    response += `${escapeHtml(userName)}, смотри как проходят пользователи по этапам:\\n\\n`;\n    \n    data.forEach((row, index) => {\n      const arrow = index === 0 ? '🔵' : '↓ 🔸';\n      const barLength = Math.round(row.conversion_rate / 10);\n      const progressBar = '█'.repeat(barLength) + '░'.repeat(10 - barLength);\n      \n      response += `${arrow} <b>${escapeHtml(row.stage)}</b>\\n`;\n      response += `${progressBar} ${row.users} чел. (${row.conversion_rate}%)\\n\\n`;\n    });\n    \n    response += '💡 <i>Воронка показывает путь от регистрации до активного участия</i>';\n    return response;\n  },\n  \n  users: (data) => {\n    let response = '👥 <b>ТОП АКТИВНЫХ ПОЛЬЗОВАТЕЛЕЙ</b>\\n\\n';\n    response += `${escapeHtml(userName)}, вот самые активные участники:\\n\\n`;\n    \n    data.forEach((row, index) => {\n      const medals = ['🥇', '🥈', '🥉'];\n      const medal = medals[index] || `${index + 1}️⃣`;\n      \n      response += `${medal} <b>${escapeHtml(row.full_name)}</b>\\n`;\n      response += `${escapeHtml(row.username)}\\n`;\n      response += `💬 ${row.message_count} сообщений `;\n      response += `(📝${row.text_count} 📸${row.photo_count} 🎤${row.voice_count})\\n`;\n      response += `${escapeHtml(row.status)}\\n\\n`;\n    });\n    \n    response += '🌟 <i>Активные пользователи - основа сообщества!</i>';\n    return response;\n  },\n  \n  activity: (data) => {\n    let response = '📈 <b>ПИКОВЫЕ ЧАСЫ АКТИВНОСТИ</b>\\n\\n';\n    response += `${escapeHtml(userName)}, когда ваше сообщество наиболее активно:\\n\\n`;\n    \n    data.forEach((row, index) => {\n      const barLength = Math.round(row.percentage / 5);\n      const bar = '█'.repeat(barLength) + '░'.repeat(20 - barLength);\n      const position = index === 0 ? '👑' : `${index + 1}.`;\n      \n      response += `${position} ${escapeHtml(row.time_period)}\\n`;\n      response += `${bar}\\n`;\n      response += `📊 ${row.messages} сообщений (${row.percentage}%)\\n\\n`;\n    });\n    \n    response += '⏰ <i>Планируйте активности в пиковые часы для максимального охвата!</i>';\n    return response;\n  },\n  \n  trending: (data) => {\n    let response = '📊 <b>ТРЕНДИНГ: ТИПЫ СООБЩЕНИЙ</b>\\n\\n';\n    response += `${escapeHtml(userName)}, какие типы сообщений популярны:\\n\\n`;\n    \n    data.forEach((row, index) => {\n      const position = index + 1;\n      response += `${position}. ${escapeHtml(row.message_type)} ${escapeHtml(row.trend)}\\n`;\n      response += `   📊 Всего: <b>${row.total_count}</b> (${row.percentage}%)\\n`;\n      response += `   📅 Сегодня: ${row.today_count} | Неделя: ${row.week_count}\\n\\n`;\n    });\n    \n    response += '📈 <i>Анализ помогает понять предпочтения аудитории</i>';\n    return response;\n  },\n  \n  health: (data) => {\n    let response = '💚 <b>МОНИТОРИНГ ЗДОРОВЬЯ СИСТЕМЫ</b>\\n\\n';\n    response += `${escapeHtml(userName)}, статус всех компонентов:\\n\\n`;\n    \n    data.forEach(row => {\n      response += `${escapeHtml(row.status)} <b>${escapeHtml(row.component)}</b>\\n`;\n      \n      if (row.total_events > 0) {\n        response += `📊 Обработано: ${row.processed_events}/${row.total_events} (${escapeHtml(row.success_percentage)})\\n`;\n      }\n      response += '\\n';\n    });\n    \n    response += '🔄 <i>Мониторинг за последние 24 часа</i>\\n';\n    response += '📋 <i>Все системы работают для вашего комфорта!</i>';\n    return response;\n  }\n};\n\n// Форматируем ответ\nlet responseText;\ntry {\n  if (formatters[commandType]) {\n    responseText = formatters[commandType](data);\n  } else {\n    responseText = `❓ Неизвестный тип команды: ${escapeHtml(commandType)}`;\n  }\n} catch (error) {\n  responseText = `❌ Ошибка форматирования: ${escapeHtml(error.message)}`;\n}\n\n// Добавляем footer с временной меткой\nconst now = new Date();\nconst timeString = now.toLocaleString('ru-RU', {\n  timeZone: 'Europe/Moscow',\n  year: 'numeric',\n  month: '2-digit', \n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nresponseText += `\\n\\n⏰ <i>${escapeHtml(timeString)} МСК</i>`;\nresponseText += '\\n🤖 <i>Powered by @PrideAIBot Analytics</i>';\n\n// More out-of-the-box AI automation solutions: https://t.me/PrideAIBot\nreturn [{\n  json: {\n    response_text: responseText,\n    chat_id: chatId,\n    parse_mode: 'HTML',\n    disable_web_page_preview: true,\n    command_executed: commandType,\n    user_name: userName,\n    execution_time: timeString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        320
      ],
      "id": "38547610-0878-45fe-96e5-ace96759422c",
      "name": "💬 Format & Send Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').first().json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        320
      ],
      "id": "e618cf15-934c-48e8-a00d-6194f57022cf",
      "name": "📱 Send Analytics Message"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/getFile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Webhook').item.json.body.message.photo[3].file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        1040
      ],
      "id": "83773cd5-8020-437b-adf9-1c6c7ab126b9",
      "name": "Получить инфо о файле изображения"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        1040
      ],
      "id": "9019002e-d5fc-4aba-875b-7f2f4d3ffb01",
      "name": "Telegram печатает 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        848
      ],
      "id": "3b831fd3-610b-420b-bef1-3a4efa8f7212",
      "name": "Telegram печатает 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        656
      ],
      "id": "2e1bf975-23af-4e98-ad81-07178ba3d0e3",
      "name": "Telegram печатает 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5216,
        944
      ],
      "id": "86927bff-157a-4761-952a-3d8b9020467f",
      "name": "Telegram печатает"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/deleteMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Код').item.json.temporary_message_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6016,
        872
      ],
      "id": "87d5684d-a925-4abd-ba51-c7a64f830a16",
      "name": "Удалить временное сообщение"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58c45cea-033f-457f-aa35-a3e610a88253",
              "leftValue": "={{ $('Код').item.json.temporary_message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5792,
        944
      ],
      "id": "8430fd98-1a50-4fbe-932a-b9f2fa230f14",
      "name": "Временное сообщение существует?"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3424,
        760
      ],
      "id": "c8612c44-3dfc-49d5-9366-e81342395ff0",
      "name": "Объединение"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Код').item.json.joinedString }}",
        "options": {
          "systemMessage": "Ты - Л.И.С.А., консультант по проекту Л.И.С.А. (Локальная Интеллектуальная Система Автоматизации).\n\n⚠️ КОНТЕКСТ: Пользователь общается с ботом проекта Л.И.С.А. Все вопросы про \"установку\", \"обновление\", \"настройку\" БЕЗ уточнения относятся к Л.И.С.А., а НЕ к другим системам.\n\n⚠️ СТРОГОЕ ПРАВИЛО: НЕ отвечай на вопросы про другие системы (amoCRM, Битрикс24, WordPress и т.д.) - сразу направляй в Telegram чаты.\n\n## О проекте:\nSelf-hosted AI платформа на Docker Compose с N8N, Supabase, Ollama, Whisper, FFmpeg\n\nРежимы: MINI (4GB RAM) и MAX (16GB RAM)\n\n## КАК УСТАНОВИТЬ:\n\nВопросы: \"Как установить?\", \"Установка\", \"Как поставить Л.И.С.А.?\", \"Как начать?\"\n\nОтвет:\n```bash\ngit clone https://github.com/shorin-nikita/lisa.git\ncd lisa\npython3 CTAPT.py\n```\n\nУстановщик автоматически предложит режим (MINI/MAX), определит GPU, создаст .env и запустит контейнеры.\n\n## КАК ОБНОВИТЬ:\n\nВопросы: \"Как обновить?\", \"Обновление\", \"Как обновить N8N?\", \"Апдейт\"\n\nОтвет:\n```bash\ncd lisa\npython3 O6HOBA.py\n```\n\nСкрипт автоматически создаст резервную копию, остановит сервисы, получит обновления из GitHub, обновит Docker образы, пересоберёт n8n-ffmpeg и перезапустит систему. Данные сохраняются.\n\n## ДОСТУП К СЕРВИСАМ:\n\nЛокально:\n- N8N: http://localhost:8001\n- Supabase: http://localhost:8005\n- Open WebUI: http://localhost:8002 (только MAX)\n- Flowise: http://localhost:8003 (только MAX)\n\n## WHISPER API:\n\nURL: http://whisper:8090/v1/audio/transcriptions (внутри Docker)\nМетод: POST, модель: base (рекомендуется)\n\n## ЧАСТЫЕ ПРОБЛЕМЫ:\n\n1. **HTTPS не работает** - проверь email в .env (должен быть настоящим) и DNS\n2. **Whisper падает** - используй модель base, не medium/large\n3. **FFmpeg не найден** - docker compose -p localai build n8n\n4. **Permission denied** - chmod 777 shared/\n5. **PostgreSQL не стартует** - docker compose -p localai down -v && python3 CTAPT.py\n\n## ПЕРЕКЛЮЧЕНИЕ РЕЖИМОВ:\n\n```bash\ndocker compose -p localai down\nnano .env  # INSTALLATION_MODE=mini → max\npython3 start_services.py --mode max\n```\n\n## УПРАВЛЕНИЕ:\n\n```bash\ndocker ps              # статус\ndocker compose -p localai logs -f  # логи\ndocker compose -p localai down     # остановка\npython3 start_services.py          # перезапуск\n```\n\n## ДЛЯ ДРУГИХ ВОПРОСОВ:\n\nЕсли вопрос НЕ про установку/обновление/проблемы Л.И.С.А. (например: amoCRM, другие интеграции, не связанные с Л.И.С.А. темы), отвечай:\n\n\"У меня нет информации по этому вопросу, но вы можете:\n\n🆘 **Задать вопрос экспертам:**\nЧат поддержки: https://t.me/durov_meteverse\n\n🤖 **Присоединиться к AI сообществу:**\n@PrideAIBot: https://t.me/PrideAIBot\n• Все шаблоны комьюнити\n• Обмен опытом с экспертами\n\nТам помогут! 😊\"\n\n## ПРАВИЛА:\n1. Вопросы \"установить\"/\"обновить\" БЕЗ уточнения = про Л.И.С.А.\n2. Отвечай КРАТКО - команда + что делает\n3. НЕ придумывай информацию\n4. Вопросы про amoCRM, Битрикс, другие системы → сразу в чат\n5. Код в ```bash``` блоках\n6. Всегда на русском"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        5440,
        944
      ],
      "id": "e87b864d-b01f-4bfe-adf2-8b1d7efe05bb",
      "name": "Л.И.С.А."
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5424,
        928
      ],
      "id": "c2aa0566-5815-4e2b-8b81-5a594512cec0",
      "name": "Стикер 2"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5179,
        732
      ],
      "id": "08672d0b-1747-446f-953f-3bb0363af264",
      "name": "Стикер 15"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2043,
        280
      ],
      "id": "4e551ec4-8eb0-4d78-8621-b0ec6c5bbe77",
      "name": "Стикер 16"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 170,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "e0fc1434-53e8-4c13-b2b1-68cf375bfa4e",
      "name": "Стикер 17"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_message_buffer (\n  chat_id,\n  text_content\n) VALUES (\n  '{{ $('Webhook').item.json.body.message.from.id }}',\n  '{{ $('Объединение').item.json.text }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4096,
        696
      ],
      "id": "eed86e11-6642-4aa3-805e-c48d796cf062",
      "name": "Запись в буфер - повтор",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_message_buffer (\n  chat_id,\n  text_content\n) VALUES (\n  '{{ $('Webhook').item.json.body.message.from.id }}',\n  '{{ $('Объединение').item.json.text }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4096,
        888
      ],
      "id": "0858f44d-8b7f-4f86-80db-c84446062041",
      "name": "Запись в буфер - первый",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "telegram_message_buffer",
          "mode": "list",
          "cachedResultName": "telegram_message_buffer"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5216,
        752
      ],
      "id": "c906db04-aec9-440b-8353-74770a980ca6",
      "name": "Очистить буфер",
      "credentials": {
        "postgres": {
          "id": "BEYJlNGtuQex8xdR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902016f5-1274-4d55-9b69-4f88b8df381e",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        464
      ],
      "id": "8698ea95-18fd-41d8-8bc2-a2f723d911e5",
      "name": "текст"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('API KEY ЗАМЕНИТЬ').item.json.telegram_bot_api_key }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Код').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Л.И.С.А.').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        944
      ],
      "id": "aca4b55f-7998-44b3-9bfd-d002af929d53",
      "name": "Отправить сообщение в Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "base"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2976,
        656
      ],
      "id": "44d4ec34-6cdd-44d9-8978-3906e96d1f93",
      "name": "Транскрибация Whisper голос"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "base"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2976,
        848
      ],
      "id": "fa3690a9-c6fc-43a9-b748-f62c369b7940",
      "name": "Транскрибация Whisper аудио"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5448,
        1168
      ],
      "id": "adc5cf13-2a92-4534-aa12-8e7fa59b6d09",
      "name": "GPT 4.1 nano",
      "credentials": {
        "openAiApi": {
          "id": "bsZiJm5zDzmXguw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        960,
        272
      ],
      "id": "fe35220a-edbc-4b37-8933-30b498fa6db6",
      "name": "Запустить один раз"
    }
  ],
  "pinData": {},
  "connections": {
    "Анализ изображения": {
      "main": [
        [
          {
            "node": "текст фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить инфо о голосовом файле": {
      "main": [
        [
          {
            "node": "Скачать голосовой файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать голосовой файл": {
      "main": [
        [
          {
            "node": "Транскрибация Whisper голос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить инфо об аудиофайле": {
      "main": [
        [
          {
            "node": "Скачать аудиофайл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать аудиофайл": {
      "main": [
        [
          {
            "node": "Транскрибация Whisper аудио",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст голос": {
      "main": [
        [
          {
            "node": "Объединение",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "текст аудио": {
      "main": [
        [
          {
            "node": "Объединение",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "текст фото": {
      "main": [
        [
          {
            "node": "Объединение",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Секунду прослушаю голос": {
      "main": [
        [
          {
            "node": "Telegram печатает 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Секунду прослушаю аудио": {
      "main": [
        [
          {
            "node": "Telegram печатает 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Секунду посмотрю фото": {
      "main": [
        [
          {
            "node": "Telegram печатает 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Логирование Webhook": {
      "main": [
        [
          {
            "node": "API KEY ЗАМЕНИТЬ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API KEY ЗАМЕНИТЬ": {
      "main": [
        [
          {
            "node": "Команда?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Первый чек": {
      "main": [
        [
          {
            "node": "Запись есть?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись есть?": {
      "main": [
        [
          {
            "node": "Запись в буфер - повтор",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Запись в буфер - первый",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Агрегация": {
      "main": [
        [
          {
            "node": "Код",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Код": {
      "main": [
        [
          {
            "node": "Очистить буфер",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram печатает",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Память Postgres": {
      "ai_memory": [
        [
          {
            "node": "Л.И.С.А.",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Сбор сообщений": {
      "main": [
        [
          {
            "node": "Агрегация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ожидание": {
      "main": [
        [
          {
            "node": "Сбор сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип сообщения?": {
      "main": [
        [
          {
            "node": "текст",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Секунду прослушаю голос",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Секунду прослушаю аудио",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Секунду посмотрю фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команда?": {
      "main": [
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Analytics Data Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Тип сообщения?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Analytics Data Processor": {
      "main": [
        [
          {
            "node": "🔍 Execute Analytics Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Execute Analytics Query": {
      "main": [
        [
          {
            "node": "💬 Format & Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Format & Send Response": {
      "main": [
        [
          {
            "node": "📱 Send Analytics Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить инфо о файле изображения": {
      "main": [
        [
          {
            "node": "Анализ изображения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram печатает 3": {
      "main": [
        [
          {
            "node": "Получить инфо о файле изображения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram печатает 2": {
      "main": [
        [
          {
            "node": "Получить инфо об аудиофайле",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram печатает 1": {
      "main": [
        [
          {
            "node": "Получить инфо о голосовом файле",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram печатает": {
      "main": [
        [
          {
            "node": "Л.И.С.А.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удалить временное сообщение": {
      "main": [
        [
          {
            "node": "Отправить сообщение в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Временное сообщение существует?": {
      "main": [
        [
          {
            "node": "Удалить временное сообщение",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить сообщение в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединение": {
      "main": [
        [
          {
            "node": "Первый чек",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Л.И.С.А.": {
      "main": [
        [
          {
            "node": "Временное сообщение существует?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись в буфер - первый": {
      "main": [
        [
          {
            "node": "Ожидание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст": {
      "main": [
        [
          {
            "node": "Объединение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Транскрибация Whisper голос": {
      "main": [
        [
          {
            "node": "текст голос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Транскрибация Whisper аудио": {
      "main": [
        [
          {
            "node": "текст аудио",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 nano": {
      "ai_languageModel": [
        [
          {
            "node": "Л.И.С.А.",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Логирование Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запустить один раз": {
      "main": [
        [
          {
            "node": "Создать все компоненты Telegram Pride",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faef8a0f-b934-4238-bc7a-4ef8e18f6dcb",
  "meta": {
    "instanceId": "0f564460b0af2e95a317a00d94a491dac5fe2cfe8859742d4f2c87a20ab9b37a"
  },
  "id": "jX8u6HDXqbtrqvSk",
  "tags": [
    {
      "updatedAt": "2025-05-05T01:58:24.104Z",
      "createdAt": "2025-05-05T01:58:24.104Z",
      "id": "TQhE2B8hgPAxRAi1",
      "name": "PrideAIBot"
    }
  ]
}