n8n/backup/workflows/Конвертация WebM → OGG + Транскрибация.json
{
  "name": "Конвертация WebM → OGG + Транскрибация",
  "nodes": [
    {
      "parameters": {
        "content": "# 🎙️ Конвертация WebM → OGG + Транскрибация\n\nАвтор: [Nikita Shorin](https://www.youtube.com/@shorin_nikita)\n\n## Описание\nВоркфлоу конвертирует видеофайлы WebM в компактные аудио OGG с кодеком Opus и автоматически транскрибирует их с помощью локального Whisper.\n\n## Быстрый старт:\n\n1. 🟡 **Форма для загрузки**:\n   - Откройте URL формы из ноды \"Отправка формы\"\n   - Загрузите WebM файл через форму\n\n2. 🟢 **Текст**:\n   - Используйте транскрибированный текст для любых целей\n \n## Функции:\n- ✅ Конвертация WebM в OGG (Opus codec)\n- ✅ Экстремальное сжатие: 32 kbit/s, mono, 16 kHz\n- ✅ Оптимизация для голоса (VoIP application)\n- ✅ Автоматическая транскрибация через локальный Whisper\n- ✅ Обработка без сохранения на диск (временные файлы /tmp)\n- ✅ Автоматическая очистка временных файлов\n\n## Архитектура:\n1. **Отправка формы** - загрузка WebM файла\n2. **Генерация путей** - создание уникальных путей /tmp для файлов\n3. **Запись входного файла** - сохранение WebM во временную директорию\n4. **Конвертация FFmpeg** - извлечение аудио и конвертация в OGG Opus\n5. **Чтение выходного файла** - загрузка готового OGG\n6. **Транскрибация Whisper** - распознавание речи через локальный Whisper API\n7. **Удаление временных файлов** - очистка /tmp\n8. **Текст** - вывод транскрибированного текста\n\n## Результат:\n- **Входной файл**: WebM (видео + аудио)\n- **Выходной файл**: OGG Opus (только аудио, ~240 KB/мин)\n- **Транскрипция**: Текстовая расшифровка речи\n- **Сжатие**: ~95% экономия места (4.4 MB → 289 KB)\n- **Скорость**: ~48x быстрее реального времени\n\n# Больше AI автоматизации: [@PrideAIBot](https://t.me/PrideAIBot)",
        "height": 1116,
        "width": 1088,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        272
      ],
      "id": "d123456b-ada9-4317-9990-44ce7f45ade2",
      "name": "📝 Инструкция"
    },
    {
      "parameters": {
        "formTitle": "Конвертация WebM в OGG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -960,
        96
      ],
      "id": "ec91a3da-843d-4da9-8046-3e84a7eeebce",
      "name": "Отправка формы",
      "webhookId": "b2a38a9e-827b-4ed2-a7c3-cb1b974e9bb2"
    },
    {
      "parameters": {
        "jsCode": "// Генерируем уникальные пути для временных файлов\nconst timestamp = Date.now();\nconst inputPath = `/tmp/input_${timestamp}.webm`;\nconst outputPath = `/tmp/output_${timestamp}.ogg`;\n\nreturn {\n  json: {\n    inputPath: inputPath,\n    outputPath: outputPath\n  },\n  binary: {\n    data: items[0].binary.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        96
      ],
      "id": "e8bb0238-cd80-4f69-8771-71eef0a4939d",
      "name": "Генерация путей"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.inputPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -512,
        96
      ],
      "id": "f54cfe52-d189-4c60-9200-6d1294db287e",
      "name": "Запись входного файла"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i {{ $json.inputPath }} -map 0:a:0 -vn -c:a libopus -b:a 32k -vbr constrained -ac 1 -ar 16000 -application voip -map_metadata -1 {{ $json.outputPath }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "id": "29132d2a-b1f7-4f98-b038-5746121593ab",
      "name": "Конвертация FFmpeg"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Генерация путей').item.json.outputPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -64,
        96
      ],
      "id": "50ae0878-7448-414f-a0bf-8f85d2ccc70f",
      "name": "Чтение выходного файла"
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('Генерация путей').item.json.inputPath }} {{ $('Генерация путей').item.json.outputPath }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "c4e2544c-7429-4959-b6bf-0d9b970c2c7a",
      "name": "Удаление временных файлов"
    },
    {
      "parameters": {
        "content": "",
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        80
      ],
      "id": "069cf19c-a4f9-49ca-9f29-053c6c739919",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        80
      ],
      "id": "5466dc64-b0c4-4562-8aba-7cb1c4b2f2d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "base"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        96
      ],
      "id": "72510e82-8a33-437b-956d-2d069057f567",
      "name": "Транскрибация Whisper"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f28e16d8-1917-4213-a2a9-7cfed7fc3272",
              "name": "text",
              "value": "={{ $('Транскрибация Whisper').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        96
      ],
      "id": "084b61c3-b382-4e4e-9968-4bc9ec6820ca",
      "name": "Текст"
    }
  ],
  "pinData": {},
  "connections": {
    "Отправка формы": {
      "main": [
        [
          {
            "node": "Генерация путей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Генерация путей": {
      "main": [
        [
          {
            "node": "Запись входного файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись входного файла": {
      "main": [
        [
          {
            "node": "Конвертация FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Конвертация FFmpeg": {
      "main": [
        [
          {
            "node": "Чтение выходного файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение выходного файла": {
      "main": [
        [
          {
            "node": "Транскрибация Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаление временных файлов": {
      "main": [
        [
          {
            "node": "Текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Транскрибация Whisper": {
      "main": [
        [
          {
            "node": "Удаление временных файлов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}